@media screen and (max-width: 1675px) {
  .container {
    width: 90%;
  }
  #main #main-right {
    width: 50%;
  }
  #main #main-right div img {
    width: 90%;
  }
}
@media screen and (max-width: 1400px) {
  #main #main-left div h2 {
    font-size: 30px;
  }
  #main #main-left div h1 {
    font-size: 32px;
  }
  #newArrivals #watches {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #counter .container .counter-left h2 {
    font-size: 30px;
  }
  #counter .container .counter-right {
    gap: 20px;
  }
  #counter .container .counter-right h3 {
    font-size: 24px;
    margin-bottom: 9%;
  }
  #counter .container .counter-right div h2 {
    font-size: 36px;
  }
  #yourIdealWatch #yourIdealWatchContent {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  #brands {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  #main #main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  #main #main-content #main-left div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #main #main-content #main-left div h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
  #main #main-content #main-right div img {
    margin-bottom: 30px;
  }
  #counter .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #counter .container .counter-left {
    margin-bottom: 20px;
  }
  #counter .container .counter-left h2 {
    font-size: 36px;
  }
  #newsletter .container #newsletter-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #newsletter .container #newsletter-content p {
    text-align: center;
    width: 60%;
  }
  footer .container #footer-main #footer-info p {
    display: none;
  }
  footer .container #footer-main #footer-info h2 {
    font-size: 20px;
  }
  footer .container #footer-main #footer-links h2 {
    font-size: 20px;
  }
  footer .container #footer-main #footer-links a {
    font-size: 16px;
  }
  footer .container #footer-main #footer-contact {
    margin-bottom: 30px;
  }
  footer .container #footer-main #footer-contact h2 {
    font-size: 20px;
  }
  footer .container #footer-main #footer-contact a {
    font-size: 16px;
  }
  #about-author-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  #about-author-section #text-holder p {
    font-size: 16px;
  }
  #contact {
    justify-content: center;
    flex-direction: column-reverse;
  }
  #contact #map {
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 855px) {
  #products {
    flex-direction: column;
  }
}
@media screen and (max-width: 680px) {
  .container {
    width: 95%;
  }
  .container-main {
    width: 95%;
  }
  #nav .container-main nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
  #nav .container-main nav ul li a {
    font-size: 16px;
  }
  #main #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #main #menu ul li a {
    font-size: 16px;
  }
  #main #main-content #main-left div h1 {
    text-align: center;
  }
  #brands {
    display: none;
  }
  footer .container #footer-main #footer-info {
    display: none;
  }
  #counter .container .counter-left h2 {
    text-align: center;
  }
  #yourIdealWatchContent .ideal-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #yourIdealWatchContent .ideal-watch img {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .section-header {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
  }
  #counter .container .counter-left h2 {
    font-size: 28px;
  }
  #main #menu ul {
    gap: 10px;
  }
  #nav #menu ul {
    gap: 10px;
  }
  #counter .container .counter-right {
    display: none;
  }
  #newsletter {
    display: none;
  }
  footer .container #footer-main #footer-links {
    width: 45%;
    margin-bottom: 30%;
  }
  footer .container #footer-main #footer-contact {
    width: 50%;
    margin-bottom: 30%;
  }
}/*# sourceMappingURL=responsive.css.map */