
    #products{
        @include displayFlex();
        flex-wrap: wrap;
        
        .watch{
            margin: 50px 50px;
            p{
                &:nth-of-type(1)
                {
                    font-weight: $light;
                }
                &:nth-of-type(2)
                {
                    font-weight: $semiBold;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    margin-top: -7.5px;
                }
                &:nth-of-type(3)
                {
                    color: orange;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }

            a{
                color: $white;
                background-color: $orange;
                border-radius: 7px;
                padding: 5px 18px;
                text-transform: uppercase;
                font-size: 16px;
            }

            margin-bottom: 50px;
            position: relative;
        }
    }
